Cliente2/Connected Services/ServiceReference1/PersonaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcftest.dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcftest.dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfContactoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactoDTO" nillable="true" type="tns:ContactoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactoDTO" nillable="true" type="tns:ArrayOfContactoDTO" />
  <xs:complexType name="ContactoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactoDTO" nillable="true" type="tns:ContactoDTO" />
</xs:schema>